/* Estilos generales del navbar */
.navbar {
    position: fixed; /* Siempre visible en la pantalla */
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent; /* Color inicial */
    transition: background-color 0.3s ease; /* Transición suave al cambiar de color */
    padding: 1rem 0;
  }
  
  .navbar.scrolled {
    background-color: #333; /* Color al hacer scroll */
  }
  
  .navbar-container {
    display: flex;
    justify-content: center; /* Centra los enlaces horizontalmente */
    align-items: center;
  }
  
  .navbar-list {
    list-style: none; /* Quita los puntos de los <li> */
    display: flex; /* Organiza los enlaces horizontalmente */
    gap: 2rem; /* Espaciado entre los enlaces */
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    cursor: pointer; /* Cambia el cursor a una mano al pasar por encima */
  }
  
  .navbar-item a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: white; /* Color inicial del texto */
    font-size: 1rem;
    transition: color 0.3s ease; /* Transición suave al cambiar de color */
  }
  
  .navbar-item a:hover {
    color: #f0a500; /* Color al pasar el mouse por encima */
  }